
<!-- Ruby way of creating links; note these variables are created in config/routes -->

<!-- Typical HTML links replaced by above; how do you ensure syntax-ically correct HTML w/ ruby?
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contactus">Contact Us</a>
-->
<h1>Welcome to my website!</h1>
<p>Sign up here.</p>
